# Arquivos compilados C/C++
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Arquivos de debug
*.dSYM/
*.su
*.idb
*.pdb

# Arquivos de IDE e editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Arquivos de build
build/
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Arquivos de dependência
*.d

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~ 